<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Our Services</h1> 

            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">            
                        <mat-icon class="mat-icon-xlg" color="primary">location_on</mat-icon>
                        <h2 class="capitalize fw-600 my-3">Find similar properties like you</h2>
                        <p>The user will be able to see a graph with apartments similar to his chosen by parameters selected by us.</p>           
                    </mat-card>
                   
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">            
                        <mat-icon class="mat-icon-xlg" color="primary">supervisor_account</mat-icon>
                        <h2 class="capitalize fw-600 my-3">We have agents with experience</h2>
                        <p>We have expert agents who can help you with any problem the user may have, we are available for any question.</p>             
                    </mat-card>
                   
                </div>

                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">            
                        <mat-icon class="mat-icon-xlg" color="primary">home</mat-icon>
                        <h2 class="capitalize fw-600 my-3">How much to rent your properties</h2>
                        <p>The user enter a number of parameters on the property he owns and can get a monthly return prediction.</p>             
                    </mat-card>
                   
                </div>

                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">            
                        <mat-icon class="mat-icon-xlg" color="primary">format_list_bulleted</mat-icon>
                        <h2 class="capitalize fw-600 my-3">With user account you can list properties</h2>
                        <p>For each user, the site will display the list of apartments it owns, and changes can be made to each properties.</p>             
                    </mat-card>
                   
                </div>




            </div>
                
        </div>
    </div>   
</div>