<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
        <h2 class="text-muted text-center fw-600 mb-3">Account details</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)"> 
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.name.errors?.required">Name is required</mat-error>
                <mat-error *ngIf="infoForm.controls.name.hasError('minlength')">Name isn't long enough, minimum of 3 characters</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="infoForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" formControlName="phone" required onlyNumber autocomplete="off">
                <mat-error *ngIf="infoForm.controls.phone.errors?.required">Phone is required</mat-error>
            </mat-form-field>

            <div class="mb-3">
                <input-file placeholder="Image (or link to image)" formControlName="image" fileLimit="1" fileAccept="image/*" [linkEnabled]="true"></input-file>  
            </div>
    
           
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Facebook</mat-label>
                <input matInput placeholder="facebook" formControlName="facebook" autocomplete="off"> 
            </mat-form-field>
      

            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">Update profile</button>
            </div> 
        </form>
    </div>
    

</div> 
