<div class="section testimonials">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">What people are saying</h1>

            <div class="testimonials-carousel"> 
                <div class="swiper-container h-100" [swiper]="config"> 
                    <div class="swiper-wrapper h-100">      
                        <div *ngFor="let comment of comments" class="swiper-slide">
                            <div class="content text-center">
                                <div class="quote open text-left primary-color">“</div>
                                <p class="text">{{comment.message}}</p>
                                <div class="quote close text-right primary-color">”</div> 
                                <h3 class="authorc">{{comment.username}}</h3>
                               
                            </div>
                        </div>
                    </div> 
                    <div class="swiper-pagination"></div> 
                </div>
            </div>
                
        </div>
    </div>   
</div>

 