<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'About Us'"
                  [desc]="'We help you for find your house key'">
</app-header-image>


<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">our story</h1>

                    <p class="px-3">The service that our site offers is the ability to predict the value of the monthly rent that will bring the user the maximum profit, The prediction is made by checking the monthly rent of similar apartments and other parameters.</p>

                    <div fxLayout="row wrap">

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">business</mat-icon>
                                <h2 class="capitalize fw-600 mx-2">About company</h2>
                            </div>                            
                            <p class="mt-2">The user will enter a number of parameters on the property he owns and can get a monthly prdiction return prediction.
                                For the prediction, the system will collect Big Data and implement an algorithm to predict the monthly rent sum from the asset.
                                To create a qualitative prediction fitted for environmental variables, we are currently focusing on one country.
                                In addition, since we are talking about an economic decision and I order to give the user a sense of security, we will provide the user a summary of information about the property and its
                                environment that influenced the expected return decision.
                                For example, average similar property environment, graph with intersting data about similar properties, the environment suitable for this type of rental.
                                The user experience on the site will be simple and easy, the amount of parameters required from the user is minimal and at the same time the information obtained is wide and creates a feeling that he "knows" the property, its environment and the demand for it and can make an informed decision according to his needs.</p>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <!--div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">list_alt</mat-icon>
                                <h2 class="capitalize fw-600 mx-2">Vision</h2>
                            </div--> 
                            <!--p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper lobortis quam, id imperdiet mi feugiat quis. Cras a odio posuere, rhoncus quam vitae, commodo neque. Nunc mollis velit vulputate, volutpat diam vitae, egestas turpis. In posuere tempor lorem, sit amet pulvinar nunc accumsan a. Quisque sem tellus, congue at eleifend sit amet, consectetur sit amet est. Integer sodales quam quis elit commodo consequat. Aenean posuere augue a justo gravida elementum laoreet tincidunt enim. Nullam sagittis mauris id dui scelerisque, eget dignissim est hendrerit. Praesent fringilla commodo egestas. Suspendisse bibendum purus vitae mi mattis laoreet.</p-->
                        </div>

                    </div>
            
                    
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>

<app-mission></app-mission>

<app-our-services></app-our-services>

<app-testimonials></app-testimonials>  

<app-our-agents></app-our-agents>
      
<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>